<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.demo">

    <application android:allowBackup="true" android:label="@string/app_name">
        <!-- 测试 -->
        <activity android:name=".frame.MainActivity" />
        <activity android:name=".frame.http.HttpTaskActivity" />
        <activity android:name=".frame.table.ListViewActivity" />
        <activity android:name=".frame.table.GridViewActivity" />
        <activity android:name=".frame.activity.Demo_FlycoRoundViewActivity" />
        <activity android:name=".frame.activity.Demo_InjectionActivity" />
        <activity android:name=".frame.annotation.AnnotationActivity" />
        <activity android:name=".frame.baseAdapter.BaseAdpterActivity" />
        <activity android:name=".frame.baseAdapter.SingleItemTypeActivity" />
        <activity android:name=".frame.baseAdapter.MutliItemTypeActivity" />
        <activity android:name=".frame.photo.BasePhotoActivity" />
        <activity android:name=".frame.photo.PagerPhotoActivity" />
        <activity android:name=".frame.photo.SimplePhotoActivity" />
        <activity android:name=".frame.photo.ScrollerPhotoActivity" />
        <activity
            android:name=".frame.activity.Demo_SpaceImageDetailActivity"
            android:theme="@style/IMTheme.Transparent"/>
        <activity
            android:name=".frame.photo.SmoothPagerPhotoViewActivity"
            android:theme="@style/IMTheme.Transparent" />

        <activity android:name=".frame.sliderimage.ImageSliderActivity" />
        <activity android:name=".frame.activity.Demo_PagerSlidingTabStripActivity" />
        <activity android:name=".frame.activity.Demo_NoteActivity" />
        <activity android:name=".frame.download.Download_MainActivity" />
        <activity android:name=".frame.download.Download_SingleActivity" />
        <activity android:name=".frame.download.Download_ListActivity" />
        <activity android:name=".frame.download.Download_DetailsActivity" />


        <activity android:name=".frame.dailog.ui.SimpleHomeActivity" />
        <activity android:name=".frame.dailog.ui.PopupHomeActivity" />
        <activity android:name=".frame.dailog.ui.DialogHomeActivity" />
        <activity android:name=".frame.dailog.ui.CustomPopupActivity" />
        <activity android:name=".frame.dailog.ui.BubblePopupActivity" />


        <activity android:name=".frame.activity.Demo_NotifyActivity" />

        <activity android:name=".frame.fragmentnavigator.FragmentnavigatorMainActivity" />
    </application>

</manifest>
