<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.demo">

    <application android:allowBackup="true" android:label="@string/app_name">
        <!-- 测试 -->
        <activity android:name=".frame.activity.Demo_MainActivity" />
        <activity android:name=".frame.activity.Demo_HttpTaskActivity" />
        <activity android:name=".frame.activity.Demo_ListViewActivity" />
        <activity android:name=".frame.activity.Demo_GridViewActivity" />
        <activity android:name=".frame.activity.Demo_FlycoRoundViewActivity" />
        <activity android:name=".frame.activity.Demo_InjectionActivity" />
        <activity android:name=".frame.activity.Demo_AnnotationActivity" />
        <activity android:name=".frame.activity.Demo_BaseAdpterActivity" />
        <activity android:name=".frame.activity.Demo_SingleItemTypeActivity" />
        <activity android:name=".frame.activity.Demo_MutliItemTypeActivity" />
        <activity android:name=".frame.activity.Demo_BasePhotoActivity" />
        <activity android:name=".frame.activity.Demo_PagerPhotoActivity" />
        <activity android:name=".frame.activity.Demo_SimplePhotoActivity" />
        <activity android:name=".frame.activity.Demo_ScrollerPhotoActivity" />
        <activity
            android:name=".frame.activity.Demo_SpaceImageDetailActivity"
            android:theme="@style/IMTheme.Transparent"/>
        <activity
            android:name=".frame.activity.Demo_SmoothPagerPhotoViewActivity"
            android:theme="@style/IMTheme.Transparent" />

        <activity android:name=".frame.activity.Demo_ImageSliderActivity" />
        <activity android:name=".frame.activity.Demo_PagerSlidingTabStripActivity" />
        <activity android:name=".frame.activity.Demo_NoteActivity" />
        <activity android:name=".frame.activity.Download_MainActivity" />
        <activity android:name=".frame.activity.Download_SingleActivity" />
        <activity android:name=".frame.activity.Download_ListActivity" />
        <activity android:name=".frame.activity.Download_DetailsActivity" />


        <activity android:name=".frame.dailog.ui.SimpleHomeActivity" />
        <activity android:name=".frame.dailog.ui.PopupHomeActivity" />
        <activity android:name=".frame.dailog.ui.DialogHomeActivity" />
        <activity android:name=".frame.dailog.ui.CustomPopupActivity" />
        <activity android:name=".frame.dailog.ui.BubblePopupActivity" />


        <activity android:name=".frame.activity.Demo_NotifyActivity" />

        <activity android:name=".frame.fragmentnavigator.FragmentnavigatorMainActivity" />
    </application>

</manifest>
